[submodule "test_network/discovery/mdns/netdisco"]
	path = test_network/discovery/mdns/netdisco
	url = https://github.com/home-assistant/netdisco
[submodule "test_dbus/dbus-python"]
	path = test_dbus/dbus-python
	url = https://anongit.freedesktop.org/git/dbus/dbus-python.git
[submodule "test_dbus/python-networkmanager"]
	path = test_dbus/python-networkmanager
	url = https://github.com/seveas/python-networkmanager
[submodule "test_expect/pexpect"]
	path = test_expect/pexpect
	url = git@github.com:pexpect/pexpect.git
[submodule "test_serial/grabserial"]
	path = test_serial/grabserial
	url = git@github.com:tbird20d/grabserial.git
[submodule "test_pyusb/pyusb"]
	path = test_pyusb/pyusb
	url = git@github.com:walac/pyusb.git
[submodule "test_elf/pyelftools"]
	path = test_elf/pyelftools
	url = https://github.com/eliben/pyelftools
